<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="assets/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
<link rel="manifest" href="assets/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<title> IMCA RAYDEEOH! </title>
<link rel="stylesheet" type="text/css" href="css/squeleton.css">
<script src="lib/xlsx.full.min.js"></script>
<script src="lib/jquery.min.js"></script>
<script type="text/javascript" src="js/ux.js"></script>
<script type="text/javascript" src="js/schedule.js"></script>
<script type="text/javascript" src="js/player.js"></script>
<script>

function validateForm() {
    var a = document.forms["contact-form"]["f-name"].value;
    var b = document.forms["contact-form"]["s-name"].value;
    var c = document.forms["contact-form"]["email"].value;
    if (a == null || a == "", b == null || b == "", c == null || c == "") {
      alert("Please Fill All Required Field");
      return false;
    } else{
      alert('Thank you for your submission :-)');
    }
  }

$(document).ready(function() {
  var the_terms = $("#confirm");

  the_terms.click(function() {
    console.log('i am clicked');
      if ($(this).is(":checked")) {
          $(".submission-button").hide();
          $(".submission-class").css('display', 'block');
      } else {
          $(".submission-button").css('display', 'block');
          $(".submission-class").hide();
      }
  });
});
</script>
</head>
<body class="body-submission" onload="startTime()">

<header class="header-submission">
  <h1 id="general-page-title"><a id="submission-page-link" href="https://forms.gle/5QAsbtbDfeoSKaBGA" target="_blank">submission</a><span class="tooltip">click here for a document version of this page</span></h1>
<a id="return-button" href="/submissions">⤶</a>
<img id="header-icon" src="assets/vectorized/icons/full/submission_full.svg" alt="submission icon">
</header>
<div id="form">
<form id="contact-form" method="POST" action='/show' onsubmit="return validateForm()">
<!-- onsubmit="return validateMyForm();" -->
  <div class="form-section">
      <legend>★ Application for a RADIO SHOW ★</legend><br>
      <p>This section is reserved for the students wishing to pitch a radio show!</p>
      <br>
      <p>☆  ★  ☆ </p>
      <br><br>

<div class="form-section">
  <label for="f-name">first name :</label><br>
  <input id="f-name" type="text" name="firstname" value="<%= qs.first %>">
  <span class="field-needed">*</span>
</div>
  <br>
  <div class="form-section">
  <label for="s-name">last name :</label><br>
  <input id="s-name" type="text" name="lastname" value="<%= qs.last %>">
  <span class="field-needed">*</span>
</div>
<br>
<div class="form-section">
  <label for="pronouns">pronouns :</label><br>
  <input id="gnc" type="radio" name="pronoun" value="they">they/them<br>
  <input id="female" type="radio" name="pronoun" value="she">she/her<br>
  <input id="male" type="radio" name="pronoun" value="he">he/him<br>
  <input id="other" type="radio" name="pronoun" value="other">other<br>
    <br>
  <label for="o-pronoun">(if "other" selected):</label><br>
  <input id="o-pronoun" type="text" name="pronoun" value="<%= qs.pro5 %>">
</div>
  <br>
<div class="form-section">
  <label for="email">email :</label><br>
  <input id="email" type="text" name="email" value="<%= qs.email %>">
  <span class="field-needed">*</span>
</div>
  <br>
<div class="form-section">
  <label for="student-id">student ID :</label><br>
  <input id="student-id" type="text" name="studentid" value="<%= qs.id %>">
  <span class="field-needed">*</span>
</div>
  <br>
<div class="form-section">
  <label for="f-study">field of study :</label><br>
  <input id="f-study" type="text" name="fieldstudy" value="<%= qs.field %>">
  <span class="field-needed">*</span>
  </div>
  <br>
<div class="form-section">
  <label for="artist-name">host/artist/collective name :</label><br>
  <input id="artist-name" type="text" name="artistname"  value="<%= qs.artistName %>">
  <span class="field-needed">*</span>
</div>
  <br>
<div class="form-section">
  <label for="bio">short bio (50 words max) :</label><br>
  <textarea name="bio" value="<%= qs.bio %>"></textarea>
  <span class="field-needed">*</span>
</div>
  <br>
  <div class="form-section">
    <label for="web-link">link (personal website, mixcloud, facebook, instagram, etc.):</label><br>
    <input id="web-link" type="text" name="link"  value="<%= qs.link %>">
  </div>
  <br>
  <div class="form-section">
    <label for="submission-kind">Are you applying to submit a monthly show or to submit a sound piece?</label><span class="field-needed">*</span><br>
    <input type="radio" name="submission-kind" value="show">monthly show proposal<br>
    <input type="radio" name="submission-kind" value="sound piece">sound piece<br>
  </div>
<br>
<br>
<!-- -->

<!-- SECTION FOR A RADIO SHOW -->
<div class="form-section">

<div class="form-section">
  <label for="show-title">show title (can be tentative) :</label><br>
  <input id="show-title" type="text" name="showtitle"  value="<%= qs.showTitle %>">
  <span class="field-needed">*</span>
</div>
  <br>
<div class="form-section">
  <label for="description">project/show description (50-100 words max):</label><br>
  <textarea name="description" value="<%= qs.description%>"></textarea>
  <span class="field-needed">*</span>
</div>
  <br>
<div class="form-section">
  <fieldset class="project-type" name="category">
  <label for="category">show category :</label>  <span class="field-needed">*</span><br>
  <input type="radio" name="show category" value="sound art">sound art<br>
  <input type="radio" name="show category" value="field recording"> field recording<br>
  <input type="radio" name="show category"  value="music (DIY or self-produced)">music (DIY or self-produced)<br>
  <input type="radio" name="show category"  value="performance or live experimentation">performance or live experimentation<br>
  <input type="radio" name="show category"  value="music concrète">music concrète<br>
  <input type="radio" name="show category"  value="podcast or talk show">podcast or talk show<br>
  <input type="radio" name="show category"  value="other">other<br>
</fieldset>
<br>
<label for="other-category">(if "other" selected):</label><br>
  <input id="other-category" type="text" name="othercategory"  value="<%= qs.cat8 %>">
  </div>
  <br>


  <!--<div class="form-section">
    <label for="time">timeslots :
      <br>(choose 3 timeslots for your show to be aired. one will be chosen according to availabilities)</label>
    <br><br>
    <div class="timeslot">
    <label for="day">day :</label>&nbsp&nbsp&nbsp
    <select class="select-menu" name="day" value="<%= qs.day %>">
      <option value="monday" name="day-1">monday</option>
      <option value="tuesday" name="day-1">tuesday</option>
      <option value="wednesday" name="day-1">wednesday</option>
      <option value="thursday" name="day-1">thursday</option>
      <option value="friday" name="day-1">friday</option>
    </select>
    <br><br>
   from :&nbsp&nbsp&nbsp<select name="day" value="<%= qs.time1 %>">
   <option value="1000AM">10:00 AM</option>
   <option value="1030AM">10:30 AM</option>
   <option value="1100AM">11:00 AM</option>
   <option value="1130AM">11:30 AM</option>
   <option value="1200PM">12:00 PM</option>
   <option value="1230PM">12:30 PM</option>
   <option value="1300PM">01:00 PM</option>
   <option value="1330PM">01:30 PM</option>
   <option value="1400PM">02:00 PM</option>
   <option value="1430PM">02:30 PM</option>
   <option value="1500PM">03:00 PM</option>
   <option value="1530PM">03:30 PM</option>
   <option value="1600PM">04:00 PM</option>
   <option value="1630PM">04:30 PM</option>
   <option value="1700PM">05:00 PM</option>
   <option value="1730PM">05:30 PM</option>
   </select>&nbsp&nbsp&nbsp&nbsp&nbsp
   to : &nbsp&nbsp&nbsp<select name="day" value="<%= qs.time2 %>">
     <option value="1030AM">10:30 AM</option>
     <option value="1100AM">11:00 AM</option>
     <option value="1130AM">11:30 AM</option>
     <option value="1200PM">12:00 PM</option>
     <option value="1230PM">12:30 PM</option>
     <option value="1300PM">01:00 PM</option>
     <option value="1330PM">01:30 PM</option>
     <option value="1400PM">02:00 PM</option>
     <option value="1430PM">02:30 PM</option>
     <option value="1500PM">03:00 PM</option>
     <option value="1530PM">03:30 PM</option>
     <option value="1600PM">04:00 PM</option>
     <option value="1630PM">04:30 PM</option>
     <option value="1700PM">05:00 PM</option>
     <option value="1730PM">05:30 PM</option>
     <option value="1800PM">06:00 PM</option>
   </select><span class="field-needed"> *</span></div>
   <br>
   <div class="timeslot-span">or</div>
  <br>
  <div class="timeslot">
   day : &nbsp&nbsp&nbsp
    <select name="day" value="<%= qs.day2 %>">
      <option value="monday" name="day-2">monday</option>
      <option value="tuesday" name="day-2">tuesday</option>
      <option value="wednesday" name="day-2">wednesday</option>
      <option value="thursday" name="day-2">thursday</option>
      <option value="friday" name="day-2">friday</option>
    </select>
    <br><br>
    from :&nbsp&nbsp&nbsp<select name="day" value="<%= qs.time3 %>">
    <option value="1000AM">10:00 AM</option>
    <option value="1030AM">10:30 AM</option>
    <option value="1100AM">11:00 AM</option>
    <option value="1130AM">11:30 AM</option>
    <option value="1200PM">12:00 PM</option>
    <option value="1230PM">12:30 PM</option>
    <option value="1300PM">01:00 PM</option>
    <option value="1330PM">01:30 PM</option>
    <option value="1400PM">02:00 PM</option>
    <option value="1430PM">02:30 PM</option>
    <option value="1500PM">03:00 PM</option>
    <option value="1530PM">03:30 PM</option>
    <option value="1600PM">04:00 PM</option>
    <option value="1630PM">04:30 PM</option>
    <option value="1700PM">05:00 PM</option>
    <option value="1730PM">05:30 PM</option>
    </select>&nbsp&nbsp&nbsp&nbsp&nbsp
    to :&nbsp&nbsp&nbsp<select name="day" value="<%= qs.time4 %>">
      <option value="1030AM">10:30 AM</option>
      <option value="1100AM">11:00 AM</option>
      <option value="1130AM">11:30 AM</option>
      <option value="1200PM">12:00 PM</option>
      <option value="1230PM">12:30 PM</option>
      <option value="1300PM">01:00 PM</option>
      <option value="1330PM">01:30 PM</option>
      <option value="1400PM">02:00 PM</option>
      <option value="1430PM">02:30 PM</option>
      <option value="1500PM">03:00 PM</option>
      <option value="1530PM">03:30 PM</option>
      <option value="1600PM">04:00 PM</option>
      <option value="1630PM">04:30 PM</option>
      <option value="1700PM">05:00 PM</option>
      <option value="1730PM">05:30 PM</option>
      <option value="1800PM">06:00 PM</option>
   </select><span class="field-needed"> *</span></div>
   <br>
   <div class="timeslot-span">or</div>
   <br>
   <div class="timeslot">
   day : &nbsp&nbsp&nbsp
    <select name="day"  value="<%= qs.day3 %>">
      <option value="monday" name="day-3">monday</option>
      <option value="tuesday" name="day-3">tuesday</option>
      <option value="wednesday" name="day-3">wednesday</option>
      <option value="thursday" name="day-3">thursday</option>
      <option value="friday" name="day-3">friday</option>
    </select>
    <br><br>
    from :&nbsp&nbsp&nbsp<select name="day"  value="<%= qs.time5 %>">
    <option value="1000AM">10:00 AM</option>
    <option value="1030AM">10:30 AM</option>
    <option value="1100AM">11:00 AM</option>
    <option value="1130AM">11:30 AM</option>
    <option value="1200PM">12:00 PM</option>
    <option value="1230PM">12:30 PM</option>
    <option value="1300PM">01:00 PM</option>
    <option value="1330PM">01:30 PM</option>
    <option value="1400PM">02:00 PM</option>
    <option value="1430PM">02:30 PM</option>
    <option value="1500PM">03:00 PM</option>
    <option value="1530PM">03:30 PM</option>
    <option value="1600PM">04:00 PM</option>
    <option value="1630PM">04:30 PM</option>
    <option value="1700PM">05:00 PM</option>
    <option value="1730PM">05:30 PM</option>
    </select>&nbsp&nbsp&nbsp&nbsp&nbsp
    <label for="to"></label>
    to :&nbsp&nbsp&nbsp<select name="day"  value="<%= qs.time6 %>">
      <option value="1030AM">10:30 AM</option>
      <option value="1100AM">11:00 AM</option>
      <option value="1130AM">11:30 AM</option>
      <option value="1200PM">12:00 PM</option>
      <option value="1230PM">12:30 PM</option>
      <option value="1300PM">01:00 PM</option>
      <option value="1330PM">01:30 PM</option>
      <option value="1400PM">02:00 PM</option>
      <option value="1430PM">02:30 PM</option>
      <option value="1500PM">03:00 PM</option>
      <option value="1530PM">03:30 PM</option>
      <option value="1600PM">04:00 PM</option>
      <option value="1630PM">04:30 PM</option>
      <option value="1700PM">05:00 PM</option>
      <option value="1730PM">05:30 PM</option>
      <option value="1800PM">06:00 PM</option>
   </select><span class="field-needed"> *</span></div>
 </div>
     <br>
     <br>-->
<!-- -->
   <br>
   <br>
   <div class="form-section">
     <input id="confirm" type="checkbox" name="confirmed" value="yes">I have read and respect the submission rules, values and policies stated in <a target="_blank" href="https://drive.google.com/file/d/1MblDhl9tOMFPumNnQ8n4aAHu5Ufd-tOV/view?usp=sharing">the IMCA RAYDEEOH Handbook </a>
     <span class="field-needed">*</span><span class="field-needed">*</span>
  </div></div>
  <br>
  <input type="button" value="submit" class="submission-button"  onclick="alert('Please read the submission rules :  )')">
  <input type="submit" value="submit" class="submission-class" />
</form>
<footer></footer>

<!-- PLAYER -->
<div class="player-container" id="main-player"><div>
	<a href="javascript:void(0)" onclick="window.open('player',
	'newWin','resizable=no,width=440,height=400')"><input id="volumeon-icon" type="image" src="assets/audio_player_files/playbutton.png"></a>
<p id="player-text"></p><div id="clock"></div>
</div>
<footer></footer>

</body>
</html>
