<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="assets/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
<link rel="manifest" href="assets/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<title> IMCA RAYDEEOH! </title>
<link rel="stylesheet" type="text/css" href="css/squeleton.css">
<script src="lib/xlsx.full.min.js"></script>
<script src="lib/jquery.min.js"></script>
<script type="text/javascript" src="js/ux.js"></script>
<script type="text/javascript" src="js/schedule.js"></script>
<script type="text/javascript" src="js/player.js"></script>
<script>

function validateForm() {
    var a = document.forms["contact-form"]["f-name"].value;
    var b = document.forms["contact-form"]["s-name"].value;
    var c = document.forms["contact-form"]["email"].value;
    if (a == null || a == "", b == null || b == "", c == null || c == "") {
      alert("Please Fill All Required Field");
      return false;
    } else{
      alert('Thank you for your submission :-)');
    }
  }

$(document).ready(function() {
  var the_terms = $("#confirm");

  the_terms.click(function() {
    console.log('i am clicked');
      if ($(this).is(":checked")) {
          $(".submission-button").hide();
          $(".submission-class").css('display', 'block');
      } else {
          $(".submission-button").css('display', 'block');
          $(".submission-class").hide();
      }
  });
});
</script>
</head>
<body class="body-submission" onload="startTime()">

<header class="header-submission">
  <h1 id="general-page-title"><a id="submission-page-link" href="https://forms.gle/5QAsbtbDfeoSKaBGA" target="_blank">submission</a><span class="tooltip">click here for a document version of this page</span></h1>
<a id="return-button" href="/submissions">⤶</a>
<img id="header-icon" src="assets/vectorized/icons/full/submission_full.svg" alt="submission icon">
</header>
<div id="form">
<form id="contact-form" method="POST" action='/sound' onsubmit="return validateForm()">
<!-- onsubmit="return validateMyForm();" -->
  <div class="form-section">
      <legend>★ Application for a SOUND PIECE ★</legend>
      <br>
        <p>This section is reserved for the students wishing to send a sound piece! This submission could be included in an hourly mix of various tracks, aired weekly.</p>
        <br>
        <p>We ask that the sound pieces be a 320 kbps MP3 file with a duration of either 5, 15, 30 or 60 minutes.</p>
        <br>
        <p>☆  ★  ☆ </p>
        <br><br>

<div class="form-section">
  <label for="f-name">first name :</label><br>
  <input id="f-name" type="text" name="firstname" value="<%= qs.first %>">
  <span class="field-needed">*</span>
</div>
  <br>
  <div class="form-section">
  <label for="s-name">last name :</label><br>
  <input id="s-name" type="text" name="lastname" value="<%= qs.last %>">
  <span class="field-needed">*</span>
</div>
<br>
<div class="form-section">
  <label for="pronouns">pronouns :</label><br>
  <input id="gnc" type="radio" name="pronoun" value="they">they/them<br>
  <input id="female" type="radio" name="pronoun" value="she">she/her<br>
  <input id="male" type="radio" name="pronoun" value="he">he/him<br>
  <input id="other" type="radio" name="pronoun" value="other">other<br>
    <br>
  <label for="o-pronoun">(if "other" selected):</label><br>
  <input id="o-pronoun" type="text" name="pronoun" value="<%= qs.pro5 %>">
</div>
  <br>
<div class="form-section">
  <label for="email">email :</label><br>
  <input id="email" type="text" name="email" value="<%= qs.email %>">
  <span class="field-needed">*</span>
</div>
  <br>
<div class="form-section">
  <label for="student-id">student ID :</label><br>
  <input id="student-id" type="text" name="studentid" value="<%= qs.id %>">
  <span class="field-needed">*</span>
</div>
  <br>
<div class="form-section">
  <label for="f-study">field of study :</label><br>
  <input id="f-study" type="text" name="fieldstudy" value="<%= qs.field %>">
  <span class="field-needed">*</span>
  </div>
  <br>
<div class="form-section">
  <label for="artist-name">host/artist/collective name :</label><br>
  <input id="artist-name" type="text" name="artistname"  value="<%= qs.artistName %>">
  <span class="field-needed">*</span>
</div>
  <br>
<div class="form-section">
  <label for="bio">short bio (50 words max) :</label><br>
  <textarea name="bio" value="<%= qs.bio %>"></textarea>
  <span class="field-needed">*</span>
</div>
  <br>
  <div class="form-section">
    <label for="web-link">link (personal website, mixcloud, facebook, instagram, etc.):</label><br>
    <input id="web-link" type="text" name="link"  value="<%= qs.link %>">
  </div>
  <br>
  <div class="form-section">
    <label for="submission-kind">Are you applying to submit a monthly show or to submit a sound piece?</label><span class="field-needed">*</span><br>
    <input type="radio" name="kind-1" value="show">monthly show proposal<br>
    <input type="radio" name="kind-2" value="sound piece">sound piece<br>
  </div>
<br>
<br>

<!-- SECTION FOR SOUND PIECE -->
<div class="form-section">
     <div class="form-section">
       <label for="show-title">title of the piece :</label><br>
       <input id="show-title" type="text" name="showtitle" value="<%= qs.soundTitle %>">
       <span class="field-needed">*</span>
     </div>
       <br>
     <div class="form-section">
       <label for="description">description of the piece (50-100 words max):</label><br>
       <textarea name="description" value="<%= qs.soundDescription %>"></textarea>
       <span class="field-needed">*</span>
     </div>
       <br>
     <fieldset class="project-duration" name="category">
       <label for="category">duration of the piece :</label>  <span class="field-needed">*</span><br>
       <input type="radio" name="duration" value="5 minutes">5 minutes<br>
       <input type="radio" name="duration"  value="10 minutes">15 minutes<br>
       <input type="radio" name="duration"  value="30 minutes">30 minutes<br>
       <input type="radio" name="duration"  value="60 minutes">60 minutes<br>
       </fieldset>
       <br>
      <fieldset class="project-type" name="category">
      <label for="category">show category :</label>  <span class="field-needed">*</span><br>
      <input type="radio" name="show category" value="sound art">sound art<br>
      <input type="radio" name="show category" value="field recording"> field recording<br>
      <input type="radio" name="show category"  value="music (DIY or self-produced)">music (DIY or self-produced)<br>
      <input type="radio" name="show category"  value="performance or live experimentation">performance or live experimentation<br>
      <input type="radio" name="show category"  value="music concrète">music concrète<br>
      <input type="radio" name="show category"  value="podcast or talk show">podcast or talk show<br>
      <input type="radio" name="show category"  value="other">other<br>
      </fieldset>
      <br>
      <label for="other-category">(if "other" selected):</label><br>
      <input id="other-category" type="text" name="othercategory" value="<%= qs.sound8 %>">
      </div>
      <br>
      <div class="form-section">
        <label for="link-kind">How will you send us your sound piece?</label><br>
        <input type="radio" name="kind-1" value="<%= qs.soundWT %>">by WeTransfer at imcaraydeeohsubmissions@gmail.com<br>
        <input type="radio" name="kind-2" value="<%= qs.soundLink %>">by adding a link to your track in the following question<br>
      </div>
<br>
<div class="form-section">
  <label for="submission-link">Add a downloadable link to your track, if checked above (e.g Google Drive)</label><br>
  <input id="show-title2" type="text" name="showtitle2" value="<%= qs.soundTitle %>">
  <span class="field-needed">*</span>
</div>
<!-- -->

   <br>
   <br>
   <br>
   <div class="form-section">
     <input id="confirm" type="checkbox" name="confirmed" value="yes">I have read and respect the submission rules, values and policies stated in <a target="_blank" href="https://drive.google.com/file/d/1MblDhl9tOMFPumNnQ8n4aAHu5Ufd-tOV/view?usp=sharing">the IMCA RAYDEEOH Handbook </a>
     <span class="field-needed">*</span><span class="field-needed">*</span>
  </div></div>
  <br>
  <input type="button" value="submit" class="submission-button"  onclick="alert('Please read the submission rules :  )')">
  <input type="submit" value="submit" class="submission-class" />
</form>

<!-- PLAYER -->
<div class="player-container" id="main-player"><div>
	<a href="javascript:void(0)" onclick="window.open('player',
	'newWin','resizable=no,width=440,height=400')"><input id="volumeon-icon" type="image" src="assets/audio_player_files/playbutton.png"></a>
<p id="player-text"></p><div id="clock"></div>
</div>
<footer></footer>

</body>
</html>
