<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="assets/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
<link rel="manifest" href="assets/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<title> IMCA RAYDEEOH! </title>
<link rel="stylesheet" type="text/css" href="css/squeleton.css">
<script type="text/javascript" src="js/ux.js"></script>
<script src="js/player.js"></script>
</head>
<body class="body-submission" onload="startTime()">

<header class="header-submission">
  <h1 id="general-page-title"><a id="submission-page-link" href="https://forms.gle/5QAsbtbDfeoSKaBGA" target="_blank">submission</a><span class="tooltip">click here for a document version of this page</span></h1>
<a id="return-button" href="/">⤶</a>
<img id="header-icon" src="assets/vectorized/icons/full/submission_full.svg" alt="submission icon">
  <div id="clock"></div>
</header>

<div id="form">
<form id="contact-form" method="POST" action='/submission.html'>

  <div class="form-section">
    <p>☆ ★ ☆</p>
    <br>
    <p>This form is for Fine Arts students at Concordia University wanting to submit a proposal for a monthly show or to submit a sound piece to broadcast on IMCA RAYDEEOH's web platform.</p>
    <br>
    <p>We are doing a month-long trial run of the web radio for the end of the Fall semester. This will help us get it running smoothly for the Winter semester! During this time we will be working out the platform and schedule, and we welcome any feedback. If you have any questions, feel free to contact by email at imcaraydeeoh@gmail.com :-)</p>
    <br>
    <p>☆ ★ ☆</p>
    <br><br>
      <legend>★ GENERAL INFORMATION ★</legend><br>
      
<div class="form-section">
  <label for="f-name">first name :</label><br>
  <input id="f-name" type="text" name="firstname" value="<%= qs.first %>">
  <span class="field-needed">*</span>
</div>
  <br>
  <div class="form-section">
  <label for="s-name">last name :</label><br>
  <input id="s-name" type="text" name="lastname" value="<%= qs.last %>">
  <span class="field-needed">*</span>
</div>
<br>
<div class="form-section">
  <label for="pronouns">pronouns :</label><br>
  <input id="gnc" type="radio" name="pronoun" value="<%= qs.pro1 %>">they/them<br>
  <input id="female" type="radio" name="pronoun" value="<%= qs.pro2 %>">she/her<br>
  <input id="male" type="radio" name="pronoun" value="<%= qs.pro3 %>">he/him<br>
  <input id="other" type="radio" name="pronoun" value="<%= qs.pro4 %>">other<br>
    <br>
  <label for="o-pronoun">(if "other" selected):</label><br>
  <input id="o-pronoun" type="text" name="pronoun" value="<%= qs.pro5 %>">
</div>
  <br>
<div class="form-section">
  <label for="email">email :</label><br>
  <input id="email" type="text" name="email" value="<%= qs.email %>">
  <span class="field-needed">*</span>
</div>
  <br>
<div class="form-section">
  <label for="student-id">student ID :</label><br>
  <input id="student-id" type="text" name="studentid" value="<%= qs.id %>">
  <span class="field-needed">*</span>
</div>
  <br>
<div class="form-section">
  <label for="f-study">field of study :</label><br>
  <input id="f-study" type="text" name="fieldstudy" value="<%= qs.field %>">
  <span class="field-needed">*</span>
  </div>
  <br>
<div class="form-section">
  <label for="artist-name">host/artist/collective name :</label><br>
  <input id="artist-name" type="text" name="artistname"  value="<%= qs.artistName %>">
  <span class="field-needed">*</span>
</div>
  <br>
<div class="form-section">
  <label for="bio">short bio (50 words max) :</label><br>
  <textarea name="bio" value="<%= qs.bio %>"></textarea>
  <span class="field-needed">*</span>
</div>
  <br>
  <div class="form-section">
    <label for="web-link">link (personal website, mixcloud, facebook, instagram, etc.):</label><br>
    <input id="web-link" type="text" name="link"  value="<%= qs.link %>">
  </div>
  <br>
  <div class="form-section">
    <label for="submission-kind">Are you applying to submit a monthly show or to submit a sound piece?</label><span class="field-needed">*</span><br>
    <input type="radio" name="kind-1" value="<%= qs.sub1 %>">monthly show proposal<br>
    <input type="radio" name="kind-2" value="<%= qs.sub2 %>">sound piece<br>
  </div>
<br>
<br>
<!-- -->

<!-- SECTION FOR A RADIO SHOW -->
<div class="form-section">
      <br><legend>Application for a RADIO SHOW</legend><br>
    <p>This section is reserved for the students wishing to propose a radio show!</p>
      <br>
    <p>If you only wish to send us a sound piece, see the section below.</p>
  <br><br>
<div class="form-section">
  <label for="show-title">show title (can be tentative) :</label><br>
  <input id="show-title" type="text" name="showtitle"  value="<%= qs.showTitle %>">
  <span class="field-needed">*</span>
</div>
  <br>
<div class="form-section">
  <label for="description">project/show description (50-100 words max):</label><br>
  <textarea name="description" value="<%= qs.description%>"></textarea>
  <span class="field-needed">*</span>
</div>
  <br>
<div class="form-section">
  <fieldset class="project-type" name="category">
  <label for="category">show category :</label>  <span class="field-needed">*</span><br>
  <input type="radio" name="soundart" value="<%= qs.cat1 %>">sound art<br>
  <input type="radio" name="fieldrecording" value="<%= qs.cat2 %>"> field recording<br>
  <input type="radio" name="music"  value="<%= qs.cat3 %>">music (DIY or self-produced)<br>
  <input type="radio" name="performance"  value="<%= qs.cat4 %>">performance or live experimentation<br>
  <input type="radio" name="musicconcrete"  value="<%= qs.cat5 %>">music concrète<br>
  <input type="radio" name="podcast"  value="<%= qs.cat6 %>">podcast or talk show<br>
  <input type="radio" name="other"  value="<%= qs.cat7 %>">other<br>
</fieldset>
<br>
<label for="other-category">(if "other" selected):</label><br>
  <input id="other-category" type="text" name="othercategory"  value="<%= qs.cat8 %>">
  </div>
  <br>

  <div class="form-section">
    <label for="time">timeslots :
      <br>(choose 3 timeslots for your show to be aired. one will be chosen according to availabilities)</label>
    <br><br>
    <div class="timeslot">
    <label for="day">day :</label>&nbsp&nbsp&nbsp
    <select class="select-menu" name="day" value="<%= qs.day %>">
      <option value="monday" name="day-1">monday</option>
      <option value="tuesday" name="day-1">tuesday</option>
      <option value="wednesday" name="day-1">wednesday</option>
      <option value="thursday" name="day-1">thursday</option>
      <option value="friday" name="day-1">friday</option>
    </select>
    <br><br>
   from :&nbsp&nbsp&nbsp<select name="day" value="<%= qs.time1 %>">
   <option value="1000AM">10:00 AM</option>
   <option value="1030AM">10:30 AM</option>
   <option value="1100AM">11:00 AM</option>
   <option value="1130AM">11:30 AM</option>
   <option value="1200PM">12:00 PM</option>
   <option value="1230PM">12:30 PM</option>
   <option value="1300PM">01:00 PM</option>
   <option value="1330PM">01:30 PM</option>
   <option value="1400PM">02:00 PM</option>
   <option value="1430PM">02:30 PM</option>
   <option value="1500PM">03:00 PM</option>
   <option value="1530PM">03:30 PM</option>
   <option value="1600PM">04:00 PM</option>
   <option value="1630PM">04:30 PM</option>
   <option value="1700PM">05:00 PM</option>
   <option value="1730PM">05:30 PM</option>
   </select>&nbsp&nbsp&nbsp&nbsp&nbsp
   to : &nbsp&nbsp&nbsp<select name="day" value="<%= qs.time2 %>">
     <option value="1030AM">10:30 AM</option>
     <option value="1100AM">11:00 AM</option>
     <option value="1130AM">11:30 AM</option>
     <option value="1200PM">12:00 PM</option>
     <option value="1230PM">12:30 PM</option>
     <option value="1300PM">01:00 PM</option>
     <option value="1330PM">01:30 PM</option>
     <option value="1400PM">02:00 PM</option>
     <option value="1430PM">02:30 PM</option>
     <option value="1500PM">03:00 PM</option>
     <option value="1530PM">03:30 PM</option>
     <option value="1600PM">04:00 PM</option>
     <option value="1630PM">04:30 PM</option>
     <option value="1700PM">05:00 PM</option>
     <option value="1730PM">05:30 PM</option>
     <option value="1800PM">06:00 PM</option>
   </select><span class="field-needed"> *</span></div>
   <br>
   <div class="timeslot-span">or</div>
  <br>
  <div class="timeslot">
   day : &nbsp&nbsp&nbsp
    <select name="day" value="<%= qs.day2 %>">
      <option value="monday" name="day-2">monday</option>
      <option value="tuesday" name="day-2">tuesday</option>
      <option value="wednesday" name="day-2">wednesday</option>
      <option value="thursday" name="day-2">thursday</option>
      <option value="friday" name="day-2">friday</option>
    </select>
    <br><br>
    from :&nbsp&nbsp&nbsp<select name="day" value="<%= qs.time3 %>">
    <option value="1000AM">10:00 AM</option>
    <option value="1030AM">10:30 AM</option>
    <option value="1100AM">11:00 AM</option>
    <option value="1130AM">11:30 AM</option>
    <option value="1200PM">12:00 PM</option>
    <option value="1230PM">12:30 PM</option>
    <option value="1300PM">01:00 PM</option>
    <option value="1330PM">01:30 PM</option>
    <option value="1400PM">02:00 PM</option>
    <option value="1430PM">02:30 PM</option>
    <option value="1500PM">03:00 PM</option>
    <option value="1530PM">03:30 PM</option>
    <option value="1600PM">04:00 PM</option>
    <option value="1630PM">04:30 PM</option>
    <option value="1700PM">05:00 PM</option>
    <option value="1730PM">05:30 PM</option>
    </select>&nbsp&nbsp&nbsp&nbsp&nbsp
    to :&nbsp&nbsp&nbsp<select name="day" value="<%= qs.time4 %>">
      <option value="1030AM">10:30 AM</option>
      <option value="1100AM">11:00 AM</option>
      <option value="1130AM">11:30 AM</option>
      <option value="1200PM">12:00 PM</option>
      <option value="1230PM">12:30 PM</option>
      <option value="1300PM">01:00 PM</option>
      <option value="1330PM">01:30 PM</option>
      <option value="1400PM">02:00 PM</option>
      <option value="1430PM">02:30 PM</option>
      <option value="1500PM">03:00 PM</option>
      <option value="1530PM">03:30 PM</option>
      <option value="1600PM">04:00 PM</option>
      <option value="1630PM">04:30 PM</option>
      <option value="1700PM">05:00 PM</option>
      <option value="1730PM">05:30 PM</option>
      <option value="1800PM">06:00 PM</option>
   </select><span class="field-needed"> *</span></div>
   <br>
   <div class="timeslot-span">or</div>
   <br>
   <div class="timeslot">
   day : &nbsp&nbsp&nbsp
    <select name="day"  value="<%= qs.day3 %>">
      <option value="monday" name="day-3">monday</option>
      <option value="tuesday" name="day-3">tuesday</option>
      <option value="wednesday" name="day-3">wednesday</option>
      <option value="thursday" name="day-3">thursday</option>
      <option value="friday" name="day-3">friday</option>
    </select>
    <br><br>
    from :&nbsp&nbsp&nbsp<select name="day"  value="<%= qs.time5 %>">
    <option value="1000AM">10:00 AM</option>
    <option value="1030AM">10:30 AM</option>
    <option value="1100AM">11:00 AM</option>
    <option value="1130AM">11:30 AM</option>
    <option value="1200PM">12:00 PM</option>
    <option value="1230PM">12:30 PM</option>
    <option value="1300PM">01:00 PM</option>
    <option value="1330PM">01:30 PM</option>
    <option value="1400PM">02:00 PM</option>
    <option value="1430PM">02:30 PM</option>
    <option value="1500PM">03:00 PM</option>
    <option value="1530PM">03:30 PM</option>
    <option value="1600PM">04:00 PM</option>
    <option value="1630PM">04:30 PM</option>
    <option value="1700PM">05:00 PM</option>
    <option value="1730PM">05:30 PM</option>
    </select>&nbsp&nbsp&nbsp&nbsp&nbsp
    <label for="to"></label>
    to :&nbsp&nbsp&nbsp<select name="day"  value="<%= qs.time6 %>">
      <option value="1030AM">10:30 AM</option>
      <option value="1100AM">11:00 AM</option>
      <option value="1130AM">11:30 AM</option>
      <option value="1200PM">12:00 PM</option>
      <option value="1230PM">12:30 PM</option>
      <option value="1300PM">01:00 PM</option>
      <option value="1330PM">01:30 PM</option>
      <option value="1400PM">02:00 PM</option>
      <option value="1430PM">02:30 PM</option>
      <option value="1500PM">03:00 PM</option>
      <option value="1530PM">03:30 PM</option>
      <option value="1600PM">04:00 PM</option>
      <option value="1630PM">04:30 PM</option>
      <option value="1700PM">05:00 PM</option>
      <option value="1730PM">05:30 PM</option>
      <option value="1800PM">06:00 PM</option>
   </select><span class="field-needed"> *</span></div>
     </div>
     <br>
     <br>
<!-- -->

<!-- SECTION FOR SOUND PIECE -->
<div class="form-section">
      <br><legend>Application for a SOUND PIECE</legend><br>
    <p>This section is reserved for the students wishing to send a sound piece! This submission could be included in an hourly mix of various tracks, aired weekly.</p>
    <br>
    <p>We ask that the sound pieces be a 320 kbps MP3 file with a duration of either 5, 15, 30 or 60 minutes.</p>
    <br>
    <p>If you only wish to send us a show application, see the section above.</p>
     <br><br>
     <div class="form-section">
       <label for="show-title">title of the piece :</label><br>
       <input id="show-title" type="text" name="showtitle" value="<%= qs.soundTitle %>">
       <span class="field-needed">*</span>
     </div>
       <br>
     <div class="form-section">
       <label for="description">description of the piece (50-100 words max):</label><br>
       <textarea name="description" value="<%= qs.soundDescription %>"></textarea>
       <span class="field-needed">*</span>
     </div>
       <br>
     <fieldset class="project-duration" name="category">
       <label for="category">duration of the piece :</label>  <span class="field-needed">*</span><br>
       <input type="radio" name="duration-1" value="<%= qs.duration5 %>">5 minutes<br>
       <input type="radio" name="duration-2"  value="<%= qs.duration10 %>">15 minutes<br>
       <input type="radio" name="duration-3"  value="<%= qs.duration30 %>">30 minutes<br>
       <input type="radio" name="duration-4"  value="<%= qs.duration60 %>">60 minutes<br>
       </fieldset>
       <br>
      <fieldset class="project-type" name="category">
      <label for="category">show category :</label>  <span class="field-needed">*</span><br>
      <input type="radio" name="soundart" value="<%= qs.sound1 %>">sound art<br>
      <input type="radio" name="fieldrecording" value="<%= qs.sound2 %>"> field recording<br>
      <input type="radio" name="music" value="<%= qs.sound3 %>">music (DIY or self-produced)<br>
      <input type="radio" name="performance" value="<%= qs.sound4 %>">performance or live experimentation<br>
      <input type="radio" name="musicconcrete" value="<%= qs.sound5 %>">music concrète<br>
      <input type="radio" name="podcast" value="<%= qs.sound6 %>">podcast or talk show<br>
      <input type="radio" name="other" value="<%= qs.sound7 %>">other<br>
      </fieldset>
      <br>
      <label for="other-category">(if "other" selected):</label><br>
      <input id="other-category" type="text" name="othercategory" value="<%= qs.sound8 %>">
      </div>
      <br>
      <div class="form-section">
        <label for="link-kind">How will you send us your sound piece?</label><br>
        <input type="radio" name="kind-1" value="<%= qs.soundWT %>">by WeTransfer at imcaraydeeohsubmission@gmail.com<br>
        <input type="radio" name="kind-2" value="<%= qs.soundLink %>">by adding a link to your track in the following question<br>
      </div>
<br>
<div class="form-section">
  <label for="submission-link">Add a downloadable link to your track, if checked above (e.g Google Drive)</label><br>
  <input id="show-title" type="text" name="showtitle" value="<%= qs.soundTitle %>">
  <span class="field-needed">*</span>
</div>
<!-- -->

   <br>
   <br>
   <br>
   <div class="form-section">
     <input id="confirm" type="checkbox" name="confirmed" vvalue="<%= qs.confirm %>">I have read and respect the submission rules, values and policies stated in <a href="#">the IMCA RAYDEEOH Handbook </a>
     <span class="field-needed">*</span><span class="field-needed">*</span>
  </div></div>
  <br>
  <input type="submit" value="submit" id="submission-button" onclick="alert('Thank you for your submission :-)')">
</form>
<footer></footer>

<div class="player-container" id="main-player"><div>
    <a href="javascript:void(0)" onclick="play()"><input id="volumeon-icon" type="image" src="assets/audio_player_files/volumeonbutton.png"></a>
    <!--<a id="volumeoff-button" href="#void"><input type="image" src="assets/audio_player_files/volumeoffbutton.png" id="volumeoff-icon">--></a>
    <!-- <p id="player-text">(track 1)   -    unknown</p> -->
    <p id="player-text">OFF AIR</p>
    </div>
</body>
</html>
